
[ ca ]
default_ca = CA_default

[ CA_default ]
certs = ./example
new_certs_dir = ./newcerts
database = ./db.txt
rand_serial = ./serial
RANDFILE = ./rand.txt
default_md = sha256
private_key = rootCA/private.key
certificate = rootCA/cert.pem
policy = policy_match
email_in_dn = no

[ policy_match ]
countryName = match
stateOrProvinceName = match
organizationName = match
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

[ v3_req ]
subjectKeyIdentifier = hash
# authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment 
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = example.com
DNS.2 = www.example.com

